.info {
    position: relative;
    width: 110vh;
    padding: 100px 0px;
    color: rgb(255, 255, 255);
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
    .info {
        position: relative;
        width: calc(100% - 100px);
        padding: 100px 50px;
        color: rgb(255, 255, 255);
        left: 50%;
        transform: translateX(-50%);
    } 
}

.info .block {
    margin-bottom: 50px;
}

.info .block span {
    font-size: 29px;
    font-weight: 900;
    color: #B254AA;
}

.info .block p {
    font-size: 18px;
    font-weight: 400;
}