.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.banner a {
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .banner {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }  
}

.banner .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 79%, #141313 100%);
    z-index: 1;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    padding: 1rem 3rem;
    margin-bottom: 50px;
}

@media screen and (max-width: 1280px) {
    .banner .block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        padding: 1rem 3rem;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .banner .block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        padding: 1rem 3rem;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 500px) {
    .banner .block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        padding: 0rem 3rem;
        margin-bottom: 0px;
    }
}


.banner .preview {
    margin-bottom: 40px;
}

.banner .block svg {
    filter: drop-shadow(0px 0px 100px #6D1F09);
}

.banner .block span {
    font-size: 3rem;
    line-height: 1;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .banner .block span {
        font-size: 3rem;
        line-height: 1;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        filter: drop-shadow(0px 0px 10px black);
    }

    .banner .block p {
        font-size: 1.25rem;
        line-height: 1.3;
        font-weight: 300;
        margin: 5px;
        margin-top: 1.25rem;
        filter: drop-shadow(0px 0px 10px black);
    }
}

@media screen and (max-width: 500px) {
    .banner .block span {
        font-size: 18px;
        line-height: 1;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        filter: drop-shadow(0px 0px 10px black);
    }
}

.banner .block p {
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 300;
    margin: 5px;
    margin-top: 1.25rem;
}

@media screen and (max-width: 1280px) {
    .banner .block p {
        font-size: 1.25rem;
        line-height: 1.3;
        font-weight: 300;
        margin: 5px;
        margin-top: 1.25rem;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .banner .block p {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 300;
        margin: 5px;
        margin-top: 5px;
        text-align: center;
    }
}

.banner .block .butt {
    padding: 1.25rem 2rem;
    border-radius: 1.5rem;
    border: 1px solid #B254AA;
    color: #B254AA;
    margin: 20px 0px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 1rem;
    line-height: 1.3;
    width: 400px;
    margin-top: 1.25rem;
    background-color: #14131386;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .banner .block .butt {
        padding: 15px 20px;
        border-radius: 15px;
        border: 1px solid #B254AA;
        color: #B254AA;
        margin: 5px 0px;
        cursor: pointer;
        width: fit-content;
        transition: .3s ease;
        font-size: 1rem;
        line-height: 1.3;
        margin-top: 1.25rem;
        background-color: #14131386;
        text-align: center;
    }
}

.banner .block .butt:hover {
    transform: scale(1.04);
    background-color: #B254AA;
    color: #000000;
}